<h1>Token</h1>
<h5>You can use for API call</h5>
<h4>Username: <i id="username"></i></h4>


<pre>
  <code id="token">

</code>
</pre>
<br></br>

<h1>File upload:</h1>
 <form id="fileUploadForm" enctype="multipart/form-data" method="post">
  <label for="fileInput">Select a file:</label>
  <input type="file" id="fileInput" name="file" accept=".jpg, .jpeg, .png" required />
  <button type="button" onclick="uploadFile()">Upload File</button>
</form> 

<div id="filepath">
 

</div>
