


<h1>Token</h1>

<code id="token">

</code>

<h1>File upload:</h1>
 <form id="fileUploadForm" enctype="multipart/form-data" method="post">
  <label for="fileInput">Select a file:</label>
  <input type="file" id="fileInput" name="file" accept=".jpg, .jpeg, .png" required />
  <button type="button" onclick="uploadFile()">Upload File</button>
</form> 
