

<h1>Login</h1>

<div  id="loginFormId" >
  <label for="username">Username:</label>
  <p>Please use name or email to generate Access token:</p>
  <input type="text" id="username" name="username" placeholder="" required />
<br></br>
  <button type="submit" onclick="login();">Generate Token</button>
</div>

