<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
</head>
<body>
  <header>

  </header>

  <main>
    {{{body}}}
  </main>

  <footer>

  </footer>
  <script>
function login() {
  const username = document.getElementById('username').value; 
  fetch('http://localhost:3000/login', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ username: username }), 
  })
    .then(response => response.json())
    .then(data => {
      document.cookie = `${username}=${encodeURIComponent(data.token)}; expires=Sat, 31 Nov 2023 23:59:59 GMT; path=/`;
      document.cookie = `username=${encodeURIComponent(data.token)}; expires=Sat, 31 Nov 2023 23:59:59 GMT; path=/`;
      window.location.href = `/dashboard?user=${username}`
    })
    .catch(error => {
      console.error('Login error:', error);
    });
}

function uploadFile() {
  const fileInput = document.getElementById('fileInput');
  const file = fileInput.files[0];
  console.log(file);
  
  const username = new URLSearchParams(window.location.search).get('user');
  const token = getCookie(username);
  console.log(username, token);
  if (!file || !token || !username) {
   alert('Please select a file, provide a token, and ensure a valid username.');
    return;
  }

  const formData = new FormData(document.getElementById('fileUploadForm'));
  formData.append('file', file);

  fetch('/api/v1/upload', {
    method: 'POST',
    body: JSON.stringify(formData),
    headers: {
      'Authorization': `Bearer ${token}`,
      'Content-Type': 'multipart/form-data',
    },
  })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      alert('File uploaded successfully!');
    })
    .catch(error => {
      console.error('Upload error:', error);
      alert('File upload failed.');
    });
}

function getCookie(name) {
  const cookies = document.cookie.split(';');
  for (let i = 0; i < cookies.length; i++) {
    const cookie = cookies[i].trim();
    if (cookie.startsWith(`${encodeURIComponent(name)}=`)) {
      return decodeURIComponent(cookie.substring(name.length + 1));
    }
  }
  return null;
}
if(document.getElementById('token')){
   const username = new URLSearchParams(window.location.search).get('user');
  const token = getCookie(username);
  document.getElementById('token').innerHTML = token
}
  </script>
</body>
</html>
